body {
    /* background: var(--light-blue); */
    /* font-family: var(--font-one); */
    /* font-family: var(--font-two); */
    /* font-family: sans-serif; */
    font-family: var(--font-default);
}

.about {
    /* background-color: lightblue; */
    background-color: var(--very-light-blue-grey);
    margin-bottom: 0rem;
}

.projects {
    /* background-color: #e9ecef; */
    background-color: var(--very-light-brown);
    margin-bottom: 0rem;
}

.projects-card {
    width: 18rem;
    margin: 10px;
    /* background-color: #f8f9fa; */
    background-color: var(--very-very-light-grey);
}

.projects-card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 10px;
}

.skills {
    /* background-color: #e9ecef; */
    background-color: var(--very-light-blue-grey);
    margin-bottom: 0rem;
}

.list-skills {
    list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 30px;
    -webkit-column-count: 4;
    -webkit-column-gap: 30px;
    column-count: 4;
    column-gap: 30px;
}

.list-item-skills {
    margin: 10px;
    padding: 10px;
}

.experience {
    background-color: var(--very-light-purple);
    /* background-color: #7681aa; */
    margin-bottom: 0rem;
}

.experience-card {
    background-color: var(--very-very-light-grey);
}

.experience-title {
    font-weight: 500;
}

.accomplishments {
    /* background-color: #e9ecef; */
    background-color: var(--very-light-brown);
    margin-bottom: 0rem;
}

.awards-card {
    background-color: var(--very-very-light-grey);
}

.volunteer {
    background-color: var(--very-light-blue-grey);
    /* background-color: #7681aa; */
    margin-bottom: 0rem;
}

.education {
    /* background-color: lightblue; */
    background-color: var(--very-light-grey);
    margin-bottom: 0rem;
}

.education-p-lead {
    font-weight: 500;
}

.contact {
    background-color: var(--very-light-purple);
    /* background-color: #7681aa; */
    margin-bottom: 0rem;
}

.message {
    height: 100%;
}