.header {
    /* background-image: radial-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, .25),
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .75),
    rgba(0, 0, 0, 1))
    url("../assets/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg"); */
/* background: url("../assets/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg") no-repeat center;
background-size: cover; */
/* color:  white; */
text-align: center;
margin-bottom: 0rem;

position: relative; 
height: 50vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.header::before {    
content: "";
/* background-image: url('../assets/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg'); */
/* background-image: url('../assets/donald-giannatti-Wj1D-qiOseE-unsplash.jpg'); */
/* background-image: url('../assets/vasiliki-volkova-bPHy_Fwa5ck-unsplash.jpg'); */
/* background-image: url('../assets/jay-mullings-oSu0_fp_74k-unsplash.jpg'); */
background-image: url('../assets/vladimir-malyavko-vdQGc0lSd1c-unsplash.jpg');
/* background-color: var(--very-light-purple); */
background-size: cover;
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
/* opacity: 0.50; */
}

.header div h1 {
position: relative;
/* color: #ffffff;   */
}

/* .header div p {
color: #ffffff;  
} */